<div class="player-container">
    <img class="player-album-cover" src={{this.currentAlbumCoverUrl}}/>
    <div class="player-track-info">
        <h2 class="player-track-title">{{this.currentSongTitle}}</h2>
        <h4 class="player-track-artist">{{this.currentArtistName}}</h4>
    </div>
</div>
